html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

#main > .columns {
  min-height: 100%;
}

#notification-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#notification-area > div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

ul {
  list-style: initial;
}

p, li {
  font-size: 20px;
}

.column {
  text-align: center;
}

.main {
  overflow: auto;
  height: 90vh;
}

.is-one-fifth {
  margin: auto;
}

pre {
  text-align: left;
}

img {
  height: 400px;
}